/* @media (max-width: 768px) {
  .form-group {
    margin-bottom: 10px;
  }
}

@media (max-width: 576px) {
  .react-select-container,
  .form-control {
    width: 100%;
  }

  .mb-3 {
    margin-bottom: 10px;
  }

  .mt-3 {
    margin-top: 10px;
  }

  .align-self-center {
    text-align: center;
  }

  .btn {
    width: 100%;
  }

  .modal-content {
    width: 100%;
  }
}
.table-container {
  overflow-x: auto;
}

@media (max-width: 576px) {
  .table-container {
    width: 100%;
    overflow-x: scroll;
  }
}


.tab-content{
  border: none;
} */