.custom-modal .modal-dialog {
    max-width: 100%; /* Adjust the percentage as needed */
  }
  
  .custom-modal .modal-content {
    width: 100%;
  }
  .form-label {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 0px;
}
  
.expense-header {
  position: absolute;
  top: -10px;
  left: 8%;
  transform: translateX(-50%);
  background: transparent; /* Ensures full transparency */
  padding: 0 10px;
  font-size: 16px;
  font-weight: bold;
}
