/* body {
    background-color: #808892;
    font-family: Arial, sans-serif;
}

.container {
    width: 50%;
    margin: auto;
    padding-top: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    
}

button {
    padding: 10px 15px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.camera-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.camera-section a {
    color: black;
    text-decoration: underline;
    cursor: pointer;
}

.video-preview {
    width: 100%;
    height: 250px;
    background-color: black;
    margin-top: 10px;
}

.captured-image {
    width: 100px;
    height: 100px;
    background-color: white;
    border: 1px solid #ccc;
    display: block;
    margin-top: 10px;
}

.capture-btn, .upload-btn {
    display: block;
    margin: 10px auto;
}

.upload-btn {
    background-color: #6c757d;
    cursor: not-allowed;
} */
.detail-textarea {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.3s ease-in-out;
  height: 100px; /* Adjusted for textarea */
}