/* PaymentForm.css */
.img-thumbnail{
  size: 20PX;
  height: 40px;
  width: 50px;
  justify-content: space-between;
 }
 .list-unstyled a {
   text-decoration: none;
 }
 /* Style for the list of payment options */
 .list-unstyled li {
   margin-bottom: 10px;
 }
 /* Style for the links in the list */
 .list-unstyled a {
   text-decoration: none;
   color: #343a40; /* Dark text color */
   font-weight: bold;
 }
 .list-unstyled a:hover {
   color: #007bff; /* Hover color */
 }
 /* Style for the border between sections */
 .my-3 {
   border-top: 3px solid #252627; /* Light border color */
 }
 /* Style for the form input fields */
 .form-group {
   margin-bottom: 20px;
 }
 /* Style for the danger alert */
 .alert-danger {
   background-color: #f8d7da; /* Light red background color */
   border-color: #f5c6cb; /* Red border color */
   color: #721c24; /* Dark red text color */
 }
 /* Style for the order information column */
 .text-left.border.p-3 h5 {
   color: #343a40; /* Dark text color */
 }
 
 
 
 
 