/* th {
    background-color:#87CEEB;
    color:black;
}

.centered-header {
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
}

.mandatory {
    color: red;
}
#colour{
    color: green;
} */

.red-text {
    color: red ;
 
  }
  