/* 
.custom-container-std-attendance {
  text-align: center;
  padding: 20px;


  
}


.custom-form-std-attendance {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.custom-label-std-attendance {
  font-weight: bold;
  font-size: 16px;
}


.custom-input-std-attendance {
  border: 1px solid #ced4da;
}


.custom-datepicker-std-attendance {
  width: 100%;
  border: 1px solid #ced4da;
}

.custom-button-std-attendance {
  margin-top: 20px;

}

.custom-table-std-attendance {
  margin-top: 20px;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 5px;
}
.card-title-std-attendance-heading{
  margin-right: 80%;
  font-size: medium;
}
.custom-search-bar-std-attendance {
  width: 30%;
  margin-left: 70%;
} */