/* .fee-dashboard {
  font-family: Arial, sans-serif;
  background-color: #FFFFE0;
  padding: 20px;
}



.month-selector {
  text-align: right;
  margin-bottom: 10px;
}

.calendar {
  width: 100%;
  border-collapse: collapse;
}

.calendar th, .calendar td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  vertical-align: top;
}

.calendar th {
  background-color: #CD853F;
  color: white;
}

.details {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.details div {
  width: 48%;
  background-color: #EEE8AA;
  padding: 10px;
  border: 1px solid black;
}

.details h3 {
  margin-top: 0;
}

.details p {
  margin: 5px 0;
}

.details span {
  float: right;
}
.calendar {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
}

.calendar th, .calendar td {
  padding: 8px;
  font-size: 14px;
  word-wrap: break-word;
}

.calendar th {
  white-space: nowrap;
}

.calendar td {
  white-space: normal;
}

@media (max-width: 768px) {
  .calendar th, .calendar td {
    padding: 4px;
    font-size: 12px;
  }
} */




.month-selector-admin {
  text-align: center;
  margin-bottom: 10px;
}

/* .calendar {
  width: 100%;
  border-collapse: collapse;
}

.calendar th, .calendar td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  vertical-align: top;
}

.calendar th {
  background-color: #CD853F;
  color: white;
} */

.details-admin{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.details-admin div {
  width: 48%;
  /* background-color: #EEE8AA; */
  padding: 10px;
  /* border: 1px solid black; */
}

.details-admin h3 {
  margin-top: 0;
}

.details-admin p {
  margin: 5px 0;
}

.details-admin span {
  float: right;
}
.paragraph-dashboard {
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}