.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.header button {
  padding: 5px 10px;
  margin-right: 5px;
  font-size: 14px;
  cursor: pointer;
}

.header .date-range {
  display: flex;
  align-items: center;
}

.header .date-range label {
  margin-right: 5px;
  font-size: 14px;
}

.header .date-range input {
  width: 100px;
  padding: 5px;
  margin-right: 5px;
}

.fee-details-list {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: #FFFFFF; 
}

.fee-details-list th,
.fee-details-list td {
  border: 1px solid #171616;
  padding: 8px;
  text-align: left;
}

.fee-details-list th {
  background-color: #87CEEB; /* Change header background color to #87CEEB */
}

.fee-details-list td {
  background-color: #FFFFFF; 
}

.fee-details-list a {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.fee-details-list tfoot {
  background-color: #FFFFFF; 
}

.fee-details-list tfoot tr td {
  font-weight: bold;
}

/* PaymentDetails.css */
.button-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* Allows buttons to wrap in smaller viewports */
}

.button-box button {
  flex: 1;
  padding: 10px;
  margin: 0 5px;
  border: none;
  border-radius: 4px;
  background-color: #007bff; /* Adjust color as needed */
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center; /* Center text inside buttons */
}

.button-box button:hover {
  background-color: #0056b3; /* Darker shade for hover effect */
}

.button-box button:not(:last-child) {
  margin-right: 10px; /* Space between buttons */
}


@media (max-width: 768px) {
  .button-box.header {
    flex-direction: column;
    align-items: flex-start;
  }

  .button-box.header button {
    width: 100%;
  }

  .date-range {
    display: flex;
    flex-direction: column;
  }

  .date-picker-row {
    width: 100%;
  }
}

@media print {
  body * {
    visibility: hidden;
  }

  #printArea,
  #printArea * {
    visibility: visible;
  }

  #printArea {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw !important;
    margin: 0 auto !important;
    padding: 0 20px !important;
    box-sizing: border-box;
  }

  .table {
    width: 100% !important;
    table-layout: auto !important;
    border-collapse: collapse !important;
  }

  .table th,
  .table td {
    border: 1px solid #000 !important;
    padding: 4px !important;
  }

  .table-responsive {
    overflow: visible !important;
  }

  .form-control {
    border: none !important;
    box-shadow: none !important;
    background: transparent !important;
  }

  a {
    color: black !important;
    text-decoration: none !important;
  }

  .btn,
  .navbar,
  .card-header,
  .card-footer {
    display: none !important;
  }

  input[type="text"] {
    border: none !important;
    background: transparent !important;
  }
}


