.custom-checkbox-label {
  display: flex;
  align-items: center;
}

.custom-checkbox-label .form-check-label {
  order: -1; /* Ensures label comes before the checkbox */
  margin-right: 15px; /* Adjusts the space between label and checkbox */
}
