/* .grey-background {
  background-color: #f0f0f0;
}

.dashboard-card-std-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #3498db;
  color: #fff;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.dashboard-card-std:hover {
  background-color: #2c3e50;
}

.dashboard-card-text {
  font-size: medium;
  padding: 20px;
  text-align: center;
}

.dashboard-card-std {
  background-color: #F8F9FA;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  text-align: center;
  transition: transform 0.2s;
}

.dashboard-card-std:hover {
  transform: scale(1.05);
} */












 /* .dashboard-card-link {
   text-decoration: none;
  
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
   background-color: #3498db;

   color: #ffffff;
  
   border-radius: 8px;

   transition: background-color 0.3s;
   
 }

 .dashboard-card-link:hover {
   background-color: #2c3e50;
 
 }

 .dashboard-card-text {
   font-size: medium;
   
   padding: 20px;
  
   text-align: center;
  
 }


 .dashboard-card-link {
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 } */
