/* .container-notification-student {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 24px;
}

p {
  font-size: 16px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px 0;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

h2 {
  font-size: 20px;
}

th {
  background-color: #007bff;
  color: #fff;
}

tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #e0e0e0;
} */



















/* 
.container-notification-student {
  margin: 20px auto;
  padding: 20px;
  max-width: 800px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header-title {
  font-size: 24px;
  color: #007bff;
  margin-bottom: 16px;
}

.today-notification-form {
  display: flex;
  align-items: center;
}

.today-notification-input {
  flex: 1;
}

.search-form {
  margin-bottom: 16px;
}

.search-input {
  width: 100%;
}

.text-history-table th {
  color: #007bff;
  font-weight: bold;
}

.text-history-table tbody tr:hover {
  background-color: #f0f0f0;
} */