#class-name-select,
#subject-select {
  height: 50px;
}

.react-select__control {
  height: 50px;
}

.react-select__control--is-focused {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.react-select__menu {
  z-index: 1000;
}

.result-publish-list {
  margin-top: 20px;
}

.search-bar-result-publish {
  margin-bottom: 20px;
}

.search-bar-result-publish input {
  width: 50%;
  padding: 10px;
  float: right;
  margin-bottom: 10px;

}

#search-bar {
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.border {
  border: 1px solid #ced4da;
}

.p-4 {
  padding: 1.5rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.table-hover tbody tr:hover {
  background-color: rgba(0, 123, 255, 0.1);
}
