/* .custom-container-staff-own-attendance {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 5px;
  margin: 20px auto;
  max-width: 1500px;
  text-align: center;
}

.form.custom-form-staff-own-attendance {
  background-color: #e6e1e1;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.custom-label-staff-own-attendance {
  font-size: 18px;
}

.custom-input-staff-own-attendance {
  font-size: 16px;
}

.custom-table-staff-own-attendance {
  margin-top: 20px;
}

.custom-table-staff-own-attendance th {
  font-weight: bold;
  background-color: #007bff;
  color: #fff;
}

.custom-table-staff-own-attendance td {
  font-size: 16px; */





/* .custom-container-staff-attendance {
  text-align: center;
  padding: 20px;

  
}


.custom-form-staff-attendance {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.custom-label-staff-attendance {
  font-weight: bold;
  font-size: 16px;
}


.custom-input-staff-attendance {
  border: 1px solid #ced4da;
}


.custom-datepicker-staff-attendance {
  width: 100%;
  border: 1px solid #ced4da;
}

.custom-button-staff-attendance {
  margin-top: 20px;

}

.custom-table-staff-attendance {
  margin-top: 20px;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 5px;
}
.card-title-staff-attendance-heading{
  margin-right: 80%;
  font-size: medium;
}
.custom-search-bar-staff-attendance {
  width: 30%;
  margin-left: 70%;
} */